* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    background: skyblue;

}

form {
    background: white;
    width: 45%;
    height: fit-content;
    margin: 30px auto;
    text-align: center;
    border-radius: 5px;
    padding: 25px 0;
    position: relative;

}

form h2 {
    font-size: 30px;
    padding: 20px 0;
    text-transform: capitalize;
}

form p {
    font-size: 18px;
}

.social {
    font-size: 20px;
    margin: 30px 0;
}

.social a {
    background: blue;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 15px;
}

.social a:nth-child(2) {
    background: rgb(150, 208, 227);
}

.social a:nth-child(3) {
    background-color: tomato;
}

.divider {
    color: grey;
    display: flex;
    align-items: center;
    margin: 10px;

}

.divider .divide {
    background: white;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid grey;
    margin: 5px;
}

.divider::before,
.divider::after {
    content: "";
    padding: 1px;
    background: grey;
    flex: 1;

}

/* .divider::after{
  content: "";
  padding: 1px;
  background: grey;
  flex: 1;
} */

.signup input {
    margin: 5px;
    width: 70%;
    padding: 15px;
    border-radius: 30px;
    border: 1px solid grey;
    outline: none;
    font-size: 17px;
    text-indent: 28px;
}

.user {
    position: absolute;
    left: 18%;
    top: 40.5%;
    font-size: 20px;
    color: lightblue;
}

.tel {
    position: absolute;
    left: 18%;
    top: 50%;
    font-size: 21px;
    color: lightblue;
}

.at {
    position: absolute;
    left: 18%;
    top: 59%;
    font-size: 21px;
    color: lightblue;
}

.pass {
    position: absolute;
    left: 18%;
    top: 67.5%;
    font-size: 20px;
    color: lightblue;
}

.pas {
    position: absolute;
    left: 18%;
    top: 76.5%;
    font-size: 20px;
    color: lightblue;
}

.signup input::placeholder {
    font-size: 20px;
    color: lightblue;
    text-transform: capitalize;
    /* padding-left: 18px; */
    text-indent: 27px;
}

.signup .submit {
    margin: 20px;
    width: 70%;
    padding: 15px;
    border-radius: 30px;
    border: 1px solid grey;
    outline: none;
    font-size: 20px;
    background: green;
    text-transform: capitalize;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease 0s;
}

.signup .submit:hover {
    background: rgba(16, 96, 16, 0.896);

}


@media (max-width:970px) {
    .social {
        font-size: 18px;
    }

    .social a {
        padding: 10px 8px;
        margin: 0 1px;
    }

    form p {
        font-size: 15px;
    }

    .signup input {
        width: 90%;
    }

    .signup input::placeholder {
        font-size: 15px;
    }

    .user {
        left: 12%;
        top: 41.5%;
        font-size: 18px;
    }

    .tel {
        left: 12%;
        top: 51%;
        font-size: 18px;
    }

    .at {
        left: 11%;
        top: 60%;
        font-size: 18px;
    }

    .pass {
        left: 12%;
        top: 68.3%;
        font-size: 18px;
    }

    .pas {
        left: 12%;
        top: 77%;
        font-size: 18px;
    }

}